AGENT_CODE=TC180-AG-000001
MQTT_BROKER_URL=mqtts://e8f434de943f431da48a9e15a7c2a805.s2.eu.hivemq.cloud:8883
MQTT_USERNAME=TU_USUARIO
MQTT_PASSWORD=TU_PASSWORD
DIAGNOSTIC_SCRIPT=/home/miguelpi/tecnocom180-agent/diagnostico_red_v8.sh